.form__title {
  width: 100%;
  text-align: center;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form__component{
  justify-content: center;
  width: 100%;
  text-align: center;
}

.form__intro {
  padding: 3rem 7rem 2rem 7rem;
  flex-wrap: wrap;
  /* justify-content: center; */
  text-align: center;
}





