.boardform, .create {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.create__subtitle {
  width: 50%;
  margin: .5rem 2rem;
}

fieldset {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.form-group {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 4rem 3rem;
  justify-content: center;
}

.form__ingredient--list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form__ingredient--card {
  flex: 0 25 15%;
  margin: 1.9rem .8rem 0 .8rem;
  min-width: 8rem;
  display: flex;
  flex-wrap: wrap;
}

.form__ingredient {
  position: relative;
  margin-bottom: 1rem;
  flex: 0 15 15%;
  display: flex;
}

.form__checkbox--container {
  position: absolute;
  right: 6.5rem;
  top: 1.5rem;
}

.list__label {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
}

.accordian {
  background-color: #fefcfa;
}