.ingredient__list, .form__ingredient--list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ingredient {
  flex: 0 25 15%;
  margin: 1rem .8rem 0 .8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 7.5rem;
}

.user__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.user {
  flex: 0 25 15%;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 8rem;
}

.ingredient img, .user img, .form__ingredient img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: initial; /* why does this make this work?! */
  overflow: hidden;
  border-radius: 5px 5px 0 0 ;
}

.form__ingredient {
  position: relative;
  flex: 0 25 15%;
  margin: 1rem .8rem 0 .8rem;
  display: flex;
  justify-content: center;
  min-width: 7.5rem;
}