
.card__container {
  border-radius: 5px;
  box-shadow: 0px 0px 8px 1px rgba(91, 99, 102, 0.098);
  background-color: #fefcfa;
  margin-bottom: 0;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: initial; /* why does this make this work?! */
  overflow: hidden;
  border-radius: 5px 5px 0 0 ;
}

.card__info {
  width: 100%;
  margin: .3rem .5rem .3rem .5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-height: 2rem;
}

.card__name {
  width: 100%;
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 10px;
}

.card__type {
width: 100%;
margin-bottom: .1rem;
margin-top: .1rem;
}

.card__buttons {
  width: 100%;
  display: flex;
  padding: 7px 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card__button {
  width: 100%;
}

.card__button:hover {
  width: 110%;
}

.onClick__cardbutton--wrapper {
  padding: .08rem .3rem;
  width: 22%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  pointer-events: all;
}
