.navbar {
  padding: .5rem 3rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #423E49;
  align-items: center;
}

.navbar a {
  color: #F9F4ED;
}

.navbar__item {
  margin: 0 10px;
  list-style-type: none;
  flex-wrap: nowrap;
  color: #F9F4ED;
  font-size: .9rem;
}

.navbar__item:active {
  color: #F9F4ED;
}

.navbar__left {
  display: flex;
  flex-wrap: wrap;
  flex: 6;
}

.navbar__right {
  flex: 1;
}

.button__override {
  border: #F9F4ED 2px solid;
  color: #F9F4ED;
}